main
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2em 0;
}
main>article
{
 width: 30vw;
 height: 20vw;
 background-color: white;
 color: white;
 text-align: center;
 padding: 1em;
 font-size: 24px;
 text-shadow: 0 0 4px black;
 border-radius: 0 15px 0 15px;
 transition: all 200ms;
 display: flex;
 align-items: center;
 justify-content: center;
 border-left: 2px solid white;
 border-bottom: 2px solid white;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

main>article>p
{
    display: none;
}


main>article:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
footer
{
    margin: 0;
    padding: 0;
}

#m-pantalla
{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 10;
    height: 96vh;
    width: 80vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.067) inset;
    border-radius: 10px;
    display: none;
    transition: all 200ms;
    background-color: brown;
    background-image: url('public/img/card2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#m-pantalla>div
{
    padding: 1em;
    overflow-y: scroll;
    color: white;
}
#m-pantalla>div>p
{
   
}
#m-pantalla>div>p>b
{
   
}

#m-p-close
{
    
    position: fixed;
    right: 0;
    top: 0;
    background-color: red;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    border:2px solid white;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 900;
    box-shadow: 0 0 2px 6px rgba(0, 0, 0, 0.074);
    transition: all 200ms;
    z-index: 20;
}
#m-p-close:hover{
    cursor: pointer;
    transform: scale(0.9);
}
#m-pantalla>div
{
    display: none;
}
#m-pantalla>div
{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 8;
}

@media screen and (max-width: 916px) 
{
    main
    {
        flex-direction: column;
        padding:2em 0;
    }
    main>article
    {
        width: 90vw;
        height: 60vw;
        margin-bottom: 2em;
        padding: 1em;
        font-size: 19px;
        border-radius: 0 10px 0 10px;
    }
    main>article:last-child
    {
        margin-bottom: 0;
    }

    #m-pantalla
    {
        height: 99vh;
        width: 94vw;
        overflow: scroll;
        padding-top: 1.5em;
    }
    #m-pantalla>div
    {
        padding: 0.9em !important;
        overflow-y: scroll;
        font-size: 19px;
    }
    #m-pantalla>div>p
    {
     margin: 0.8em 0;
    }
}